.navbarMenuOuter {
  display: flex;
  justify-content: space-between;
}
.navbarMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--primary-dark-color);
  padding: 20px;
  margin: 2px;
  border-radius: 10px;
  opacity: 0.9;
  line-height: 2.6;
  z-index: 1;
  position: absolute;
  top: 4em;
  right: -0.1em;
}

.hidden {
  display: none;
}
#navMenuBtn {
  border-radius: 20px;
  width: 2em;
  background-color: var(--primary-dark-color);
  padding: 0.2em 0em;
  box-shadow: none;
  border: none;
  /* transition: transform 0.2s; */
}
/* #navMenuBtn > img:hover {
  transform: scale(1.3);
  opacity: 1;
} */

.navbarMenuLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--primary-dark-color);
  padding: 1px;
  position: relative;
}
