.contactOuter {
  background-color: var(--primary-dark-color);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1.5em 0em;
  width: 80%;
  z-index: 8;
  color: var(--secondary-text);
  letter-spacing: 0.2em;
}

.infoContainer,
.hoursContainer,
.phoneContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  width: 100%;
  text-align: center;
}

.contactOuter h3 {
  font-size: 1em;
  margin-bottom: 0.5em;
  width: 100%;
}

.contactOuter p {
  font-size: 0.6em;
  width: 100%;
}

@media (min-width: 768px) {
  .contactOuter {
    flex-direction: row;
    align-items: flex-start;
  }
}
